* {
  box-sizing: border-box;
}

body {
  color: rgb(194, 5, 40);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.wrapper {
  min-height: 100svh;
  max-height: 100svh;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

#main-form {
  margin: 0 auto;
  width: 700px;
  /* background-color: #ddd; */
}

.logo-container {
  margin: 0 auto;
  width: 90%;
}
#login-inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 25px 0 25px;
}
.input-wrapper {
  width: 90%;
  margin: 0 auto;
}
.input-wrapper > label {
  /* font-size: 1.4rem; */

  /* text-decoration: underline; */
}
.input-wrapper > input {
  margin-top: 0.3rem;
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}
.input-wrapper > input:focus {
  &::placeholder {
    color: transparent;
  }
  &::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent;
  }
  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: transparent;
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: transparent;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent;
  }
}
.invalidP {
  font-weight: bolder;
  color: rgb(194, 5, 40);
}
.form-buttons {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.form-buttons > a {
  color: rgb(194, 5, 40);
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 10px;
  &:hover {
    background-color: rgb(231, 231, 231);
  }
}

.form-buttons > * {
  /* float:right; */
  margin: 0 0 0 1rem;
  font-size: 1rem;
}
.form-buttons > input[type="submit"] {
  border: none;
  background-color: rgb(194, 5, 40);
  border-radius: 0.5rem;
  padding: 10px;
  color: white;
  &:hover {
    background-color: rgb(144, 5, 40);
  }
}
.bottom-banner {
  background: url(/taitaja/resources/jigsaw_pieces.preview.jpg);
  background-size: contain;
  height: 100px;
}
@media only screen and (max-width: 768px) {
  #login-form {
    margin: 0 auto;
    width: 90svw;
  }
}
